/TODO
*.log
*.log.*
*.mno
*\#*
*~*
.*
!.gitignore
/_*
/*.sql
/*.zip
/config/database.yml
/db/development_structure.sql
/db/*.sql
/db/schema.rb
/config/initializers/development.rb
/config/shards.yml
/coverage
/coverage
/doc/local
/public/system
/public/assets/
/public/cache/
/public/gadget*
/public/maintenance*.html
/setup*.sh
TAGS
dump.rdb
tmp
vendor/bundles/
.DS_Store
/post-receive*
*のコピー
*.fla
/bin
screen-exchange
/db/schema.rb
